.ipynb_checkpoints/
bigger_res_cluster_images/
data/
deprecated/
docs/
intro_cluster_images/
new_plots/
old_code/
plots/
poster/
res_cluster_images/
sds491/

alt_community_data_processed.csv
alt_raw_community_data.csv
community_data_processed.csv
cooks.png
leverage.png
newest_community_data_processed.csv
raw_community_data.csv
saved_processed_data.csv

